.terms {
    margin-top: 7rem;
    text-align: center;
    opacity: 0;
    transition: opacity 2s ease-in;
    overflow: hidden;
    font-size: 1.1rem;
    padding: 1rem;
  
}

.terms1 {
  padding: 2rem;
}

.terms.fade-in {
  opacity: 1;
}

.terms h2, p{
    margin-bottom: 1rem;
}

.footer {
  margin-top: 5rem;
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

.footer-link {
  margin-bottom: 1rem;
  
}